{% extends 'cjvr/base.html' %}
{% block content %}
<div class="card border-left-info">
    <div class="card-body">
        <h5 class="card-title text-info">{{ plaintiff }}</h5>
        <p class="card-text">
            <b> Nom: </b>{{ plaintiff.first_name }} <br>
            <b>Prenom:</b> {{ plaintiff.last_name }} <br>
            <b>Age:</b> {{ plaintiff.age }} <br>
            <b>Sexe:</b> {{ plaintiff.sex }} <br>
            <b>Contact:</b> {{ plaintiff.contact }} <br>
            <b>Address:</b> {{ plaintiff.address }} <br>
            <b>Religion:</b> {{ plaintiff.religion }} <br>
            <b>Enregistrer le:</b> {{ plaintiff.register_date }} <br>
        </p>
        <a class="btn btn-outline-info" href="{% url 'add-testimony' 'Plaintiff' plaintiff.id %}" type="button">Ajouter deposition</a>
{#        <a class="btn btn-outline-danger" href="{% url 'delete-plaintiff' plaintiff.id %}" type="button">Supprimer</a>#}
        <a class="btn btn-outline-secondary" href="{% url 'plaintiffs' %}" type="button">Retour</a>
    </div>
</div>
<br>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-600">Liste des Deposition faites par {{ plaintiff }}</h1>
</div>
{% for testimony in testimonies %}
<div class="card">
    <h5 class="card-header">Deposition No {{ testimony.id }}</h5>
    <div class="card-body">
        <h5 class="card-title"><b>Enregistrer le :</b> {{ testimony.register_date }}</h5>
        <p class="card-text"><b>Plaignant :</b> {{ testimony.plaintiff }} <br><b>Victime:</b> {{ testimony.victim }}
        </p>
        <a class="btn btn-outline-info" href="{% url 'testimony-detail' testimony.id %}">Detail</a>
    </div>
</div>
<br>
{% endfor %}
<br>
{% endblock %}