{% extends 'cjvr/base.html' %}
{% block content %}
<div class="card border-left-primary shadow py-2">
    <div class="card-body">
        <h5 class="card-title text-primary">{{ plaintiff }}</h5>
        <p class="card-text">
            <b> Nom: </b>{{ plaintiff.first_name }} <br>
            <b>Prenom:</b> {{ plaintiff.last_name }} <br>
            <b>Age:</b> {{ plaintiff.age }} <br>
            <b>Sexe:</b> {{ plaintiff.sexe }} <br>
            <b>Contact:</b> {{ plaintiff.contact }} <br>
            <b>Address:</b> {{ plaintiff.address }} <br>
            <b>Religion:</b> {{ plaintiff.religion }} <br>
            <b>Enregistrer le:</b> {{ plaintiff.register_date }} <br>
        </p>
        <a class="btn btn-outline-primary" href="{% url 'add-testimony' 'plaintiff' plaintiff.id %}" type="button">Ajouter deposition</a>
        <a class="btn btn-outline-danger" href="{% url 'delete-plaintiff' plaintiff.id %}" type="button">Supprimer</a>
        <a class="btn btn-outline-secondary" href="{% url 'plaintiffs' %}" type="button">Retour</a>
    </div>
</div>
{% endblock %}