{% extends 'cjvr/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Nouvelle Deposition</h1>
</div>
<form method="POST">
    {% csrf_token %}
     <div class="row">
        <div class="col-xl-6 col-md-6 mb-4">
            <h3>Infos plaignant</h3>
            <p class="">{{ p_form | crispy }}</p>
        </div>
        <div class="col-xl-6 col-md-6 mb-4">
            <h3>Infos victime</h3>
            <p>{{ v_form | crispy }}</p>
        </div>
        <div class="col-xl-6 col-md-6 mb-4">
            <h3>Decrivez la scene</h3>
            <p>{{ t_form | crispy }}</p>
        </div>
    </div>
    <button class="btn btn-outline-primary" type="submit">Enregister</button>
</form>
{% endblock %}