{% extends 'cjvr/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Statistiques et Graphes</h1>
</div>

<div class="card border-left-info">
    <div class="card-body">
        <h5 class="card-title text-info">Pourcentages repertorie par aggressions</h5>
        <p class="card-text">
            {% for key, value in stats.items %}
            <span class="font-weight-bold">{{ key }}: </span> {{ value | intword }} %<br>
            {% endfor %}
        </p>
    </div>
</div>
<br>
<!--{{ stats }}-->

<canvas height="150" id="myChart" width="400"></canvas>

<script src="{%  static 'cjvr/js/Chart.min.js' %}"></script>
<script src="{%  static 'cjvr/js/jquery-1.10.0.min.js' %}"></script>
<!--here -->
<script type="text/javascript">
 $.get('{% static 'cjvr/graphics.json' %}', function(data) {
                var ctx = $("#myChart").get(0).getContext("2d");
                ctx.canvas.width = 300;
                ctx.canvas.height = 300;
                new Chart(ctx, {
                    type: 'line', data: data,
                    responsive: true,
                    maintainAspectRatio: true,

                });

            });

</script>
{% endblock %}