{% extends 'cjvr/base.html' %}
{% block content %}
<div class="card border-left-danger shadow py-2">
    <div class="card-body">
        <h5 class="card-title text-danger">{{ victim }}</h5>
        <p class="card-text">
            <span class="font-weight-bold">Nom:</span> {{ victim.first_name }} <br>
            <span class="font-weight-bold">Prenom:</span> {{ victim.last_name }} <br>
            <span class="font-weight-bold">Age:</span> {{ victim.age }} <br>
            <span class="font-weight-bold">Sexe:</span> {{ victim.sexe }} <br>
            <span class="font-weight-bold">Contact:</span> {{ victim.contact }} <br>
            <span class="font-weight-bold">Address:</span> {{ victim.address }} <br>
            <span class="font-weight-bold">Religion:</span> {{ victim.religion }} <br>
            <span class="font-weight-bold">status:</span> {{ victim.status }} <br>
            <span class="font-weight-bold">Lieu d'aggression:</span> {{ victim.aggression_place }} <br>
            <span class="font-weight-bold">Enregistrer le:</span> {{ victim.register_date }} <br>
            <span class="font-weight-bold">Aggressions subis:</span> {% for aggression in victim.aggressions.all %}
            {{ aggression }} ,
            {% endfor %}
        </p>
        <a class="btn btn-outline-primary" href="{% url 'add-testimony' 'victim' victim.id %}" type="button">Ajouter deposition</a>
        <a class="btn btn-outline-danger" href="{% url 'delete-victim' victim.id %}" type="button">Supprimer</a>
        <a class="btn btn-outline-secondary" href="{% url 'victims' %}" type="button">Retour</a>
    </div>
</div>
{% endblock %}