{% extends 'cjvr/base.html' %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Liste des Victimes</h1>
</div>
{% for victim in victims %}
<div class="card">
    <h5 class="card-header">{{ victim }}</h5>
    <div class="card-body">
        <p class="card-text"> Genre: {{ victim.sex }} <br>
            Status: {{ victim.status }} <br>
            Lieu de l'aggression: {{ victim.aggression_place }}
        </p>
        <a class="btn btn-outline-primary" href="{% url 'victim-detail' victim.id %}">Detail</a>
    </div>
</div>
<br>
{% endfor %}
{% endblock %}